body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:    "topbar"
                            "contenido"
                            "footer";
}

a { 
    color: white;
}

nav {
    grid-area: topbar;
    position: fixed;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "topbar-logo topbar-login";
    height: 100px;
    width: 100%;
    background-color: #ff9900;
}

.topbar-logo {
    grid-area: topbar-logo;
}

.topbar-login {
    grid-area: topbar-login; 
}

.imagen-logo {
    display: block;
    width:270px;
    height:100px;
    margin-left: 50px;
}

.imagen-login {
    display: block;
    margin: auto;
    width:70px;
    height:70px;
    margin-left: 200px;
    margin-top: 10px;
}

.registro {
    display: flex;
    gap: 30px;
}

.item-registro {
    gap: 10px;
}

.contenido {
    grid-area: contenido;
    display: block;
    margin-top: 120px;
}

footer {
    grid-area: footer;
    display: grid;
    position: relative;
    grid-template-columns: 48% 37% 5% 5% 5%;
    grid-template-areas: "footer-nombre footer-logo footer-twitter footer-instagram footer-facebook";
    height: 200px;
    width: 100%;
    background-color: #595959;    
}

.footer-nombre {
    grid-area: footer-nombre;
    margin-top: 70px;
    margin-left: 50px;
    color: white;
    font: arial;
    font-size: 20px;
    font-style: italic;
}

.footer-logo {
    grid-area: footer-logo;
}

.footer-twitter {
    grid-area: footer-twitter;
    margin-top: 60px;
}

.footer-instagram {
    grid-area: footer-instagram;
    margin-top: 60px;
}

.footer-facebook {
    grid-area: footer-facebook;
    margin-top: 60px;
}

.imagen-logo-footer {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

.imagen-logo-twitter {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.imagen-logo-instagram {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.imagen-logo-facebook {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}