body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:    "topbar"
                            "contenido"
                            "footer";
}

nav {
    grid-area: topbar;
    position: fixed;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "topbar-logo topbar-login";
    height: 100px;
    width: 100%;
    background-color: #ff9900;
}

.topbar-logo {
    grid-area: topbar-logo;
}

.topbar-login {
    grid-area: topbar-login; 
}

.imagen-logo {
    display: block;
    width:270px;
    height:100px;
    margin-left: 50px;
}

.imagen-login {
    display: block;
    margin: auto;
    width:70px;
    height:70px;
    margin-left: 200px;
    margin-top: 10px;
}

.registro {
    display: flex;
    gap: 30px;
}

.item-registro {
    gap: 10px;
}

.contenido {
    grid-area: contenido;
    display: block;
    margin-top: 120px;
}

footer {
    grid-area: footer;
    display: grid;
    position: relative;
    grid-template-columns: 48% 37% 5% 5% 5%;
    grid-template-areas: "footer-nombre footer-logo footer-twitter footer-instagram footer-facebook";
    height: 200px;
    width: 100%;
    background-color: #595959;    
}

.footer-nombre {
    grid-area: footer-nombre;
    margin-top: 70px;
    margin-left: 50px;
    color: white;
    font: arial;
    font-size: 20px;
    font-style: italic;
}

.footer-logo {
    grid-area: footer-logo;
}

.footer-twitter {
    grid-area: footer-twitter;
    margin-top: 60px;
}

.footer-instagram {
    grid-area: footer-instagram;
    margin-top: 60px;
}

.footer-facebook {
    grid-area: footer-facebook;
    margin-top: 60px;
}

.imagen-logo-footer {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

.imagen-logo-twitter {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.imagen-logo-instagram {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.imagen-logo-facebook {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/*Inicio sesion*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ff9900;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #595959;
}

.inicioSesion {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin: auto;
  /*meter marginTop y marginAbajo*/
}

.noRegistrado {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

button {
  width: 100%;
  background-color: #ff9900;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #595959;
}

/*-------------- Perfil --------------*/
.top-perfil {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 1rem 0 2.5rem 2rem;
}

.top-perfil__left {
    flex: 1;
}

.top-perfil__left img{
    display: block;
    height: 2.5rem;
}

.top-perfil::after {
    flex: 1;
    content: ' ';
}

.info-perfil {
    display: grid;
    grid-template-columns: 20% fit-content(50%) 5%;
    grid-template-rows: 100%;
}
.info-perfil__avatar {
    display: block;
    height: 15rem;
    margin: 0 auto;
}

.valoracion { 
    display: block;
    width: 10rem;
}

.info-perfil__editar {
    margin-left: 2rem;
    background: none;
    border: none;
}

.info-perfil__editar img{
    display: block;
    height: 1.5rem;
}

.info-perfil__editar:hover{
    height: 2rem;
}

.info-perfil__actividad{
    margin-top: 2.5rem;
    grid-column: 2 / 3;
    gap: 10rem;
}

.recetas-perfil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.recetas-perfil__receta{
    padding: .5rem;
    border: 1px solid gray;
}

.receta__imagen {
    display: block;
    height: 10rem;
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
/*---------------------------------*/