@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); /* Libreria estrellas*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 16 mar 2023, 17:46:54
*/

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:    "topbar"
                            "contenido"
                            "footer";
}

a{
    color: black;
    text-decoration: underline;
}

h5{
    font-weight: bold;
    margin-bottom: 15px;
}

.contenido { /*contenido*/
    grid-area: contenido;
    display: block;
    margin-top: 120px;
}

a img:hover{
    filter: brightness(80%);
}

/*******************************************************************************************************************/
/* Cabecera */
/*******************************************************************************************************************/


nav {
    z-index: 99999; /*Para que aparezca por encima del resto de elementos*/
    grid-area: topbar;
    position: fixed;
    display: flex; /*para que no se coloquen debajo*/
    height: 100px;
    width: 100%;
    background-color: #ff9900;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /*añadir sombra*/
}


nav li{
    list-style: none; /*para que la lista no tenga ningun estilo*/
}
.submenu{
    position: absolute;
    top: 110px;
    right: 10px;
    background: #ff9900;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /*para que no se muestre de primeras*/
}
.submenu li a{
    color: #f2f2f2;
    display: block;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 0px;
}

.submenu li a:hover{
    color: #595959;
}

.submenu-comentarios{
    position: absolute;
    top: 110px;
    right: 80px;
    background: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
}

.submenu-comentarios li a{
    display: block;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 0px;
    text-decoration: none;
}


.imagen-logo {
    height: 60px;
    margin-left: 10px;
}

.imagen-nav{
    height: 40px;
    margin-right: 20px;
}

/*******************************************************************************************************************/
/*Pie de pagina */
/*******************************************************************************************************************/

footer {
    margin-top: 20px;
    grid-area: footer;
    display: grid;
    position: relative;
    grid-template-columns: 48% 37% 5% 5% 5%;
    grid-template-areas: "footer-nombre footer-logo footer-twitter footer-instagram footer-facebook";
    height: 200px;
    width: 100%;
    background-color: #595959; /*Dark grey*/
}

.footer-nombre {
    grid-area: footer-nombre;
    margin-top: 70px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.footer-nombre a{
    color: white;
}

.footer-logo {
    grid-area: footer-logo;
}

.footer-twitter {
    grid-area: footer-twitter;
    margin-top: 60px;
}

.footer-instagram {
    grid-area: footer-instagram;
    margin-top: 60px;
}

.footer-facebook {
    grid-area: footer-facebook;
    margin-top: 60px;
}

.imagen-logo-footer {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 50px;
}

.imagen-red-social {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/*******************************************************************************************************************/
/* Página de registro */
/*******************************************************************************************************************/
.registro {
    display: flex;
    gap: 30px;
}

.item-registro {
    gap: 10px;
}
/*******************************************************************************************************************/
/* CSS pagina de inicio */
/*******************************************************************************************************************/

/* Buscador */
.buscador {
    margin-bottom: 10px;
}

.botonDesplegable{
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.flecha{
    height: 8px;
    width: 8px;
    margin: 8px;
}

/* Filtros buscador */

.filtros{
    display: flex;
    vertical-align: top;
    justify-content: left;
}

.filtros .row{
    margin-bottom: 10px;
}

.filtro-slider{
    width: 300px;
    height: 5px;
    background: #595959; /*dark grey*/
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

#divfiltrosPersonas{
    display: none;
    height: 40px;
}

/*Slider*/
.display-6{ /*Textos*/
    margin-top: 10px;
}

.carousel-inner{
    border-radius: 5px;
    height: 400px;
}

.div-sobre-imagen{
    border-radius: 5px;
    opacity: 0.7;
    position: absolute;
    top: 40px;
    left: 15%;
    padding: 30px;
    background-color: white;
    color: black;
    max-width: 600px;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.div-sobre-imagen:hover{
    background-color: #cccccc;
}

.div-sobre-imagen h5{
    font-weight: bold;
    margin-bottom: 15px;
}
.info-receta {
    column-count: 2;
    column-gap: 20px;
    align-items: baseline;
}

.info-receta div {
    height: 40px;
    display: flex;
    align-items: baseline;  /* centra los elementos abajo */
}

.info-receta img{
    height: 15px;
    margin-right: 5px;
}

/*******************************************************************************************************************/
/* Pagina de inicio con sesion iniciada */
/*******************************************************************************************************************/

/* Novedades */
.div-usuario{
    height: 40px;
    display: flex;
    margin-bottom: 2px;
}

.div-usuario img{
    height: 30px;
}
.div-usuario h4{
    color: #595959;
    margin-left: 15px;
}

.banner{
    position: relative;
    margin-bottom: 20px;
    height: 400px;
}

.banner img{
    border-radius: 5px;
    max-height: 400px;
}

/*Valaración con estrellas*/
.rating{
    position: absolute;
}

.rating label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.rating label:not(:first-of-type) {
    padding-right: 2px;
}
.rating label:before {
    content: "\2605";
    font-size: 42px;
    color: #ccc;
    line-height: 1;
}
.rating input {
    display: none;
}
.rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: black;
}


/*******************************************************************************************************************/
/* CSS pagina listas */
/*******************************************************************************************************************/

.card{
    margin-bottom: 20px;
}

.card img{
    max-height: 300px;
}

.info-receta-pequeño {
    column-count: 2;
    align-items: baseline;
}

.info-receta-pequeño div {
    height: 30px;
    display: flex;
    align-items: baseline;  /* centra los elementos abajo */
    justify-content: center;
}

.info-receta-pequeño img{
    height: 15px;
    margin-right: 5px;
}

/*******************************************************************************************************************/
/* Inicio sesion */
/*******************************************************************************************************************/


.inicioSesion {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.inicioSesion input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inicioSesion input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inicioSesion input[type=submit] {
    width: 100%;
    background-color: #ff9900;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.inicioSesion input[type=submit]:hover {
    background-color: #595959;
}

.noRegistrado {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

.inicioSesion button {
    width: 100%;
    background-color: #ff9900;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.inicioSesion button:hover {
    background-color: #595959;
}

/*******************************************************************************************************************/
/* Perfil */
/*******************************************************************************************************************/

.info-perfil row{
    align-items: center;
}

.info-perfil{
    margin-left: 20px;
    width: 100%;
}

.avatar{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.valoracion{
    height: 50px;
    margin-left: 10px;
}

.filaseguidores{
    margin-bottom: 0;
}

.filaseguidores  .col{
    font-weight: bold;
}

.recetas-perfil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.recetas-perfil__receta{
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
}

.receta__imagen {
    display: block;
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.receta__informacion h5{
    margin-bottom: 10px;
}

.receta__informacion h5{
    margin-bottom: 10px;
}

.receta__informacion .info-receta-pequeño {
    column-count: 3;
    align-items: baseline;
}

/*******************************************************************************************************************/
/* Editar Perfil */
/*******************************************************************************************************************/

.cruz-sobre-div{
    position: absolute;
    align-items: center;
    z-index: 99998;
}

.cruz-sobre-div img{
    height: 150px;
    margin: 10px;
}
/*******************************************************************************************************************/
/* Resultados busqueda */
/*******************************************************************************************************************/

.resultados-busqueda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}
.corazon-sobre-div{
    position: absolute;
    z-index: 99998;
}

.corazon-sobre-div img{
    height: 30px;
    margin: 10px;
}

.submenuCorazon{
    position: absolute;
    top: 50px;
    right: 10px;
    background: #ff9900;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /*para que no se muestre de primeras*/
}

.submenuCorazon li a{
    color: #f2f2f2;
    display: block;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 0px;
}

.submenuCorazon li a:hover{
    color: #595959;
}

/*******************************************************************************************************************/
/* Nueva receta */
/*******************************************************************************************************************/


.btn-circle{
    margin-bottom: 1%;
    border-radius: 60px;
    width: 40px;
}

#imagenReceta {
    width: 230px;
    height: 230px;
    transition: .5s ease;
}


#imagenReceta:hover {
    opacity: 0.3;
}


#selectDificultad {
    margin-top: 12%;
    margin-left: 5%;
}

#duracionForm {
    width: 6em;
}
#nombreIngredienteForm{
    margin-left: 4%;
}
.lista-ingredientes {
    margin-top: 1%;
    margin-left: 8%;
}
.form-inline{
    margin-top: 1%;
    width:1030px;
}

.btn-warning{
    float: right;
    margin-top: 1%;
    width: 200px;
}

.input-group {
    margin-top: 1%;
}

#imagenTiempo {
    width:20px;
}

#imagenPersona {
    width:15px;
}

.fotoPerfil {
    width:30px;
}
.container-inputs{
    margin-left: 4%;
}

/*******************************************************************************************************************/
/* Ver mi receta */
/*******************************************************************************************************************/

.checked {
    color: orange;
}

#imagenRecetaPerfil {
    width: 180px;
    height: 250px;

}

#disponibles {
    color:grey;
}

#imagenPerfil {
    width:20px;
}



#comentarios {
    font-size: 15pt;
    color: #ff9900;
}

#titulo {
    font-size: 20pt;
    font-weight: bold;
}

.paso {
    margin-top: 1%;
    font-weight: bold;
}

.card-header {
    font-weight: bold;
    text-decoration: underline;
}
.boton-responder{
    margin-left: 8%;
    margin-top:1%;
    width: 200px;
    display: none;
}

/*******************************************************************************************************************/
/* Ver receta otros */
/*******************************************************************************************************************/


#perfilPublicador{
    color: #ff9900;
    text-decoration: underline;
}

#valorar {
    margin-left: 1%;
    margin-top: 1%;;
    font-size: 15pt;
    color: #ff9900;
}

/*******************************************************************************************************************/
/* Sobre nosotros */
/*******************************************************************************************************************/
.sobre-nosotros {
    margin-top: 200px;
    margin-bottom: 100px;
}

.card-img-top{
    height: 23vw;
}
