
.btn-circle{
 margin-bottom: 1%;
 border-radius: 60px;
 width: 40px;
}
#imagenReceta {
 width: 200px;
 height: 250px;
}

.contenido {
  margin-left: 1%;
  margin-right: 1%;
}

#selectDificultad {
  margin-top: 35%;
  margin-left: 5%;
}

.form-inline{
  margin-top: 1%;
  width:1030px;
}

.btn-warning{
  float: right;
  margin-top: 1%;
  width: 200px;
}

.input-group {
  margin-top: 1%;
}

#imagenTiempo {
  width:20px;
}

#imagenPersonas {
  width:20px;
}
.container-inputs{
  margin-left: 4%;
}

