.checked {
    color: orange;
  }

#imagenTiempo {
    width:20px;
}

#imagenPersonas {
    width:20px;
}

#disponibles {
    color:grey;
}

#imagenPerfil {
    width:20px;
}

.btn-light{
    margin-left: 8%;
    margin-top:1%;
    width: 200px;
}

#perfilPublicador{
    color:orange;
    text-decoration: underline;
}


#comentarios {
    font-size: 15pt;
    color:orange;
}

#valorar {
    margin-left: 1%;
    margin-top: 1%;;
    font-size: 15pt;
    color:orange;
    
}

.contenido {
    margin-left: 1%;
    margin-right: 1%;
}

#titulo {
    font-size: 20pt;
    font-weight: bold;
}

.paso {
    margin-top: 1%;
    font-weight: bold;
}

.card-header {
    font-weight: bold;
    text-decoration: underline;
}